@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
:root {
    --color-red: #BD1616;
    --color-white: white;
    --color-bg-body : #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'VT323', monospace;
    background-color: var(--color-bg-body);
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    font-family: inherit;
    text-decoration: none;
}

input, button {
    font-family: inherit;
    outline: none;
    border: none;
}
